html, body {
	padding: 0;
	margin: 0;
	overflow: hidden;
	background: #000000;
	color: white;
	width: 100%;
	height: 100%;
}

html, body, canvas {
	touch-action: none;
	touch-action-delay: none;
}

#notSupportedWrap {
	margin: 2em auto 1em auto;
	width: 75%;
	max-width: 45em;
	border: 2px solid #aaa;
	border-radius: 1em;
	padding: 2em;
	background-color: #f0f0f0;
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	color: black;
}

#notSupportedTitle {
	font-size: 1.8em;
}

.notSupportedMessage {
	font-size: 1.2em;
}

.notSupportedMessage em {
	color: #888;
}


@font-face {
	font-family: 'helvetica-condensed-black-se';
	src: url('fonts/helvetica-condensed-black-se.woff2') format('woff2'), url('fonts/helvetica-condensed-black-se.woff') format('woff');
}

/* ********************************************** Begin Splash Screen **********************************************  */

.fg-click2play {
  transition: opacity 1s ease 0s;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  text-align: center;
  z-index: 999999000;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 400;
  	
}

.fg-click2play-stage {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  z-index: 2;
  padding: 0;
	z-index: 999999002;

}

.fg-gameDetails {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-height: 0;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
	z-index: 999999003;

}

.fg-gameicon {
  display: inline-block;
	z-index: 999999004;
}

.fg-gameicon img {
  display: inline-block;
  margin: 0;
  border: none;
  border-radius: 16px;
  max-height: 100%;
  max-width: 100%;
  width: 140px;
  height: 140px;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 33%);
  width: 192px;
  height: 192px;
	z-index: 999999004;

}

.btn-play {
  background-color: #008c14;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 33%);
  position: relative;
  width: 118px;
  height: 49.5px;
  border-color: #008c14;
  border-radius: 16px;
  border-width: 2px;
  min-height: 49.5px;
  animation-name: animate-btn-play;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  margin: 11px;
  border: 1px solid #fff;
  color: #fff;
  display: inline-block;
  box-sizing: border-box;
  adding: 10px 20px;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
	z-index: 999999004;

}

.btn-play:before {
  color: #fff;
  display: block;
  position: absolute;
  bottom: -25px;
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  left: 50%;
  width: 200%;
  margin-left: -100%;
}

.btn-play:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 47px;
  top: 9.75px;
  border: 13px solid transparent;
  border-left: 20px solid #fff;
  border-right: 0;
}

.fg-branding {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background: url("images/Splash_Bg.jpeg")
    center center / cover no-repeat rgb(0, 0, 0);
	z-index: 999999001;
}

.fg-click2play-stage-footer {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    display: flex;
    flex-direction: row;
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
    background: rgba(0,0,0,0);
	overflow: visible;	
}
/* **********************************************  End Splash Screen ********************************************** */


.div-gpt-ad-1669353828671-0 {
	dislpay: block;
	width: 100%;
	height: 100%;
}




/* **********************************************  Begin Splash Screen Footer Ad ********************************************** */
.div-gpt-ad-1668419977060-0 {
	
	display: block;
    	
	
}

/* **********************************************  End Splash Screen Footer Ad ********************************************** */



/* **********************************************  Begin Game Screen Footer Ad ********************************************** */
.gamescreen-footer {
	position: absolute;
	width: 320px;
	height: 50px;
	z-index: 999999010;
	overflow: visible;
	bottom: 0px;
	left: 50%;
  	transform: translate(-50%, 0%);
	
	
	
	
}



/* **********************************************  End Game Screen Footer Ad ********************************************** */


/* **********************************************  Begin Video Ads ********************************************** */

#mainContainer {
  	position: relative;
  	height: 100vh;
	z-index: 999999012;
	width: 100%;
	height: 100%;

}

#adContainer {
position: absolute;
top: 0px;
left: 0px;
width: 100%;
height: 100%;
z-index: 999999013;	
}

.skip {
  height: 35px;
  width: 85px;
  background-color: rgba(0,0,0,0.4);
  border: 2px solid white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  position: absolute;
  bottom: 50px;
  right: 1vw;
  z-index: 999999014;
  
}

/* **********************************************  End Video Ads ********************************************** */

